.home {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;

  &__card {
    border: 1px solid $border-color;
    padding: 16px;
    max-width: calc(100% - 32px);
    border-radius: 6px;
    box-shadow: 0 2px 12px 0px rgba($color: #000000, $alpha: 0.1);
  }

  &__title {
    font-size: 13px;
    color: $text-light;
    margin-bottom: 16px;
  }
}
